<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of Vice Versa</title>
    <style type="text/css">
        #viceversa {
            border-width: 3px;
            border-color: blue;
        }
    </style>
</head>
<body>
    <h1>Vice Versa</h1>
    <form action="reverse/" method="post">
        <label for="viceversa"></label>
        <textarea id="viceversa" name="viceversa" rows="10" cols="50"></textarea>
        <p><input type="submit" value="Reverse!"></p>
    </form>
</body>
</html>